{% extends 'main/base.html' %} 
{% load static %}
<!--home.html-->

{% block title %}
PassReset
{% endblock %}
{% block head %}
Password Reset
{% endblock %}

{% block content %}
    <h2>Plese enter your email</h2>

    <form method="POST">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="btn-primary">Submit</button>
    </form>
    <p>Make shore you entered the correct email</p>
    <br>
    <p class="mt-3 mb-0 text-center">Don't have an account? Create one <a href="/usr/singup">here</a></p>
    <p>Already have a account? Login <a href="/usr/login">here</a></p>
{% endblock %}