{% extends 'main/base.html' %} 
{% load static %}
<!--home.html-->
{% block title %}
Home
{% endblock %}
{% block head %}
Hello, {{request.user}} !
{% endblock %}
{% block content %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  var searchTimer = null;
  $(document).ready(function() {
    $("#keyword").on("input", function() {
      var keyword = $(this).val();
      if (searchTimer) {
        clearTimeout(searchTimer);
      }
      searchTimer = setTimeout(function() {
        getSuggestions(keyword);
      }, 500); // wait for 500ms before sending request to the server
    });
  });
  function getSuggestions(keyword) {
    $.ajax({
      url: "http://127.0.0.1:8000/suggest/" + keyword,
      type: "GET",
      success: function(data) {
        var suggestions = JSON.parse(data);
        var suggestionList = "";
        for (var i = 0; i < suggestions.length; i++) {
          suggestionList += "<div>" + suggestions[i] + "</div>";
        }
        $("#search-suggestions").html(suggestionList);
      },
      error: function(xhr, status, error) {
        console.log("Error:", error);
      }
    });
  }
 
</script>
<style type="text/css">
  body {
    font-family: 'Roboto', sans-serif;
  }
  
  .stocks {
    display: inline-block;
    margin-right: 10px;
  }

  .individual-stock {
    font-family: revert;
    display: inline-block;
    padding: 10px 20px;
    background-color: #D5A8EB;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
  }
    a {
      text-decoration: none;
    }
    
</style>
<h1>Home</h1>
  <div id="search-suggestions"></div>
</div>
  <div id="stocks">
    <br>
    <ul style="list-style-type: none;">
      {% for symbol, price in stock_prices.items %}
        <li><button onclick="window.location.href='http://127.0.0.1:8000/stk/{{ symbol }}'" class="individual-stock">{{ symbol }}: {{ price }}</button></li>
      {% endfor %}
    </ul>
  </div>
  {% if user.is_authenticated %}
  <button onclick="window.location.href='{% url 'logout' %}'" class="logout-button">Logout</button>
  <style type="text/css">
    .logout-button {
      background-color: #8B0000;
      color: #fff;
    }
    
    .logout-button:hover {
      background-color: #AF1111;
    }
  </style>
  {% endif %}
{% endblock %}